@import "../../breakpoints/variables.scss";
@import "../../breakpoints/breakpoints.scss";

.hero_container {
  width: min(95%, 1200px);
  height: 100%;
  margin-inline: auto;
  font-family: $Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  @include media(">tablet", "<=1200px") {
  }

  @include media("<=tablet") {
  }

  @include media(">phone", "<=425px") {
    background: purple;
  }

  h1 {
    font-size: 3rem;
    color: $black;
    text-align: center;
    @include media(">tablet", "<=1200px") {
      font-size: 2rem;
    }
    @include media("<=tablet") {
      font-size: 2rem;
    }
  }

  p {
    text-align: center;
    color: $jet-2;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    @include media(">tablet", "<=1200px") {
      font-size: 0.7rem;
    }
    @include media("<=tablet") {
      font-size: 0.7rem;
    }
  }

  button {
    border: 1px solid transparent;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background: $black;
    font-family: $Poppins;
    color: #fff;
    margin-top: 0.6rem;

    span {
      color: $jet;
    }
  }

  .image {
    margin-top: 3.5rem;
    height: 45%;
    width: 100%;
    @include media(">tablet", "<=1200px") {
      margin-top: 2.2rem;
      height: 45%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
